---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl fond-bold flex flex-row gap-x-4 pb-10">
			Hey, soy Guillermo
			<a href="https://www.linkedin.com/in/guillermo-parini-miranda-5111852b6" target="_blank" rel="noopener" 
			class="flex justify-center items-center">
				<Badge>Software Developer</Badge>	
			<a/>
		</h1>
		<h2 class="text-xl opacity-80">
			Ingeniero en desarrollo de software de Costa Ricas, abierto a cualquier reto, sin
			restricciones de tiempo y lugar. Enfocado en aumentar mis
			conocimientos técnicos como ingeniero en software para brindar otras
			opciones de crecimiento a la empresa a nivel de tecnologías backend.
		</h2>
	</section>
	</main>
</Layout>
