---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Social from "../components/Social.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout 
title="Parini Dev"
description="Contrata a Guillermo para obtener soluciones de software innovadoras y seguras. Especializado en desarrollo back-end"
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl fond-bold flex flex-row gap-x-4 pb-10"
			>
				Hey, soy Guillermo
				<a
					href="https://www.linkedin.com/in/guillermo-parini-miranda-5111852b6"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Software Developer</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				Ingeniero en desarrollo de software, enfocado en tecnologías
				backend, abierto a cualquier reto, con facilidad de comunicación
				y adaptabilidad.
			</h2>
			<nav class="flex gap-x-2 mt-8">
				<Social href="https://www.linkedin.com/in/guillermo-parini-miranda-5111852b6">
					<LinkedInIcon class="w-6 h-6" />
					LinkedIn
				</Social>
				<Social href="https://github.com/Parini19">
					<GitHubIcon class="w-6 h-6" />
					GitHub
				</Social>
				<Social href="">
					<MailIcon class="w-6 h-6" />
					gparinim@gmail.com
				</Social>
			</nav>
		</section>
	</main>
</Layout>
