---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Parini Dev">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl fond-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Guillermo
				<a
					href="https://www.linkedin.com/in/guillermo-parini-miranda-5111852b6"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Software Developer</Badge>
				</a>
				<h2 class="text-2xl text-wrap">
					Ingeniero en desarrollo de software, enfocado en tecnologías
					backend, abierto a cualquier reto, con facilidad de
					comunicación y adaptabilidad.
				</h2>
			</h1>
		</section>
	</main>
</Layout>
