---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Abril 2024",
        title: "Servicio de Angeda Web",
        description:
            "Creación de agenda web para diferentes usuarios, proyecto universitario para programación de componentes."
    },
    {
        date: "Octubre 2023",
        title: "Creación de Video Juego en Unity",
        description:
            "Creación de Cenfomón, un video juego 2D para un proyecto universitario de programación con patrones. Este proyecto estaba enfocado especificamente en la implementación de patrones de diseño a partir de los requerimientos solicitados por nuestro cliente."
    },
    {
        date: "Junio 2023",
        title: "Learning Center – X-Force",
        description:
            "Responsable de programar el backend de un sistema para creadores de contenido educativo y sus respectivos consumidores de contenido, mediante contenido gratis y suscripciones.",
    },
    {
        date: "Octubre 2022",
        title: "Pets World – Wave Rabbit",
        description: "Creación de sistema para veterinarias para darle una mejor atención a sus clientes y sus mascotas."
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
