---
import Instagram from "./icons/Instagram.astro";
import Discord from "./icons/Discord.astro";
import X from "./icons/X.astro";
---

<footer
    class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm sm:text-center text-yellow-400/90"
            >© 2024 <a href="" class="hover:underline">Parini Dev</a>. Casi
            todos los derechos reservados.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
        >
            <li>
                <a href=""
                    ><X class="size-5 hover:scale-125 mr-4" /></a
                >
            </li>
            <li>
                <a href="https://www.instagram.com/gparini/"
                    ><Instagram class="size-5 hover:scale-125 mr-2" /></a
                >
            </li>
            <li>
                <a href=""><Discord class="size-5 hover:scale-125 ml-3" /></a>
            </li>
        </ul>
    </div>
</footer>
