---
import { Image } from 'astro:assets';

---


<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">

    <!-- <Image  src="/images/Logo.jpg" alt="parini logo" width="75" height="75" class="rounded-full"/> -->

    <!-- <img 
    class="rounded-full w-12 h-12"
    src="" alt="parini logo"/> -->

    <nav class="flex flex-row gap-x-10">
        <a class="hover:scale-110" href="#top">Inicio</a>
        <a class="hover:scale-110" href="#sobre-mi">Sobre mi</a>
        <a class="hover:scale-110" href="#experiencia">Experiencia</a>
        <a class="hover:scale-110" href="#proyectos">Proyectos</a>
        <a class="hover:scale-110" href="#contacto">Contacto</a>
    </nav>
</header>