---
import { Image } from 'astro:assets';

---


<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">

    <Image  src="/images/Logo.jpg" alt="parini logo" width="75" height="75" class="rounded-full"/>

    <!-- <img 
    class="rounded-full w-12 h-12"
    src="" alt="parini logo"/> -->

    <nav class="flex flex-row gap-x-10">
        <a class="hover:scale-110" href="/">Inicio</a>
        <a class="hover:scale-110" href="/about">Sobre mi</a>
        <a class="hover:scale-110" href="/projects">Proyectos</a>
        <a class="hover:scale-110" href="/contact">Contacto</a>
    </nav>
</header>